:root {
    /* found below color scheme, saved in variables for reference */
    --first-color: hsl(32, 30%, 69%);
    --second-color: hsl(34, 30%, 82%);
    --third-color: hsl(43, 32%, 91%);
    --fourth-color: hsl(201, 15%, 41%);
    --button-color: hsl(0, 3%, 92%);
}

body {
    margin: 0;
    /* made body slightly lighter than lightest color in palette for contrast with table */
    background-color: hsl(43, 32%, 94%);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--first-color);
}

#form-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

input {
    height: 20px;
    border: 1px solid black;
}

#submit-container {
    display: flex;
    width: 740px;
    /*next time make this a child of the above content and use em to determine width*/
    justify-content: flex-end;
}

#submit-button, button {
    background-color: var(--button-color);
    border: 1.5px solid black;
    border-radius: 5px;
}

#submit-button, button:hover {
    cursor: pointer;
}

#submit-button {
    margin-top: 1.5rem;
    width: 100px;
    height: 30px;
    font-size: 18px;
}

#submit-button:active{
    background-color: hsl(0, 3%, 96%);
}

button {
    width: 80px;
    height: 28px;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    /*this eliminates spacing between table cells. Has to be applied to the full table element*/
}

th,
td {
    border: 1px solid black;
    background-color: var(--second-color);
    width: 160px;
    height: 50px;
    padding-left: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    /*This is the average font-weight*/
}

td {
    background-color: var(--third-color);
}

#table-container {
    margin-left: 2rem;
}

.delete-container {
    text-align: center;
    /*text-align is easiest way to align contents of table cell. display: flex does not work*/
}

/* need to actually make it align with table, not just bottom of page */
#cost-container {
    display: flex;
    width: 1035px;
    justify-content: flex-end;
}

#total-cost-display {
    display: inline-block;
    /*Had to use inline-block to give a width property*/
    width: 160px;
    text-align: left;
    padding-left: 2px;
}

#total-monthly {
    padding-right: 5px;
}

footer {
    background-color: var(--fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* below text is what creates the footer's fixed position */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*measured header to match height*/
    height: 80px;
    /* matched text color with body color */
    color: hsl(43, 32%, 94%);
}